@import 'bootstrap/dist/css/bootstrap.min.css';
@import './page.module.css';

@font-face {
  font-family: headers;
  src: url(../app/Images/fonts/Montserrat-VariableFont_wght.ttf);
}
@font-face {
  font-family: text;
  src: url(../app/Images/fonts/Hind-Regular.ttf);
}

body {
  background-color: #374450 !important;
  color: white !important;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background-color: #eee;
}

body::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 10px;
}

h1 {
  font-size: 110px;
  font-family: headers;
  text-shadow: 0 0 20px rgb(0, 0, 0);
}

h2 {
  font-size: 36px;
  font-family: text;
  text-shadow: 0 0 20px rgb(0, 0, 0);
}

h3 {
  font-size: 27px;
  font-family: text;
  text-shadow: 0 0 25px rgb(0, 0, 0);
}

.pageMargin {
  padding: 0 150px;
}

.aTagToHTwo {
  color: white ;
  text-decoration: none !important;
  font-size: 50px !important;
  font-weight: 500;
  font-family: text;
}

Image {
  max-width: 100%;
  height: auto;
}

@media (max-width: 1024px) {
  .pageMargin {
    padding: 0 85px;
  }
}

@media (max-width: 800px) {
  .pageMargin {
    padding: 0;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 50px;
  }
  
  h2 {
    font-size: 28px;
  }
  
  h3 {
    font-size: 20px;
  }
}
