@import 'bootstrap/dist/css/bootstrap.min.css';
@import './page.module.css';

body {
  background-color: #374450 !important;
  color: white !important;
}

h1 {
  font-size: 110px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 22px;
}

.pageMargin {
  padding: 0 150px;
}

.aTagToHTwo {
  color: white !important;
  text-decoration: none !important;
  font-size: 36px !important;
  font-weight: 500;
}