.navbar {
    transition: all 0.0000001s ease-in-out;
}

.navbar a:hover {
    text-shadow: 10px 10px 200px rgb(255, 0, 0);
}

.navbar.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
    background-color: #374450;
    transition: all 0.3s ease-in-out;
    animation: slideIn 0.5s ease-in-out;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75px;
}

.navbar.sticky a {
    margin: 100px;
}

.meImage {
    position: absolute;
    height: 500px;
    border-radius: 10%;
    object-fit: contain;
    z-index: -1;
    right: -200px;
    top: 100px;
    transform: rotateY(180deg);
}

.secondBG {
    background-color: #2C3033 !important;
    min-height: 100vh !important;
}

.circle {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    margin: -50px 0 0 -50px;
    background: #CB4B16;
    border-radius: 80%;
    backface-visibility: hidden;
  }

  .projectImage {
    height: 400px;
    width: 700px;
    object-fit: contain;
  }

  .repoText {
    text-decoration: none;
    color: white !important;
  }

  .skillBox {
    min-height: 450px;
    aspect-ratio: 20/5;
    background-color: grey;
    border-radius: 10px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.6);
  }

  .projectName {
    font-size: 95px !important; 
  }

  .projectIconBox {
    min-height: auto;
    width: auto;
    background-color: grey;
    border-radius: 10px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.6);
  }

  .active {
    color: green !important;
  }
















@keyframes slideIn {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}