.navbar {
    transition: all 0.3s ease-in-out;
}

.navbar.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: #2C3033;
    transition: all 0.3s ease-in-out;
}

.meImage {
    position: absolute;
    height: 500px;
    border-radius: 10%;
    object-fit: contain;
    z-index: -1;
    right: 100px;
    transform: rotateY(180deg);
}

.skills {
    background-color: #2C3033 !important;
    min-height: 100vh !important;
}